@tailwind base;
@tailwind components;
@tailwind utilities;

/* color */

.bg-primary {
  background: #0f172a;
}

.bg-secondary {
  background: black;
}

.bg-accent {
  background: darkblue;
}

.text-accent {
  color: #addedc;
}

nav li a {
  @apply px-4 py-5 text-lg;
}

nav li a:hover {
  @apply text-blue-500;
}

.mobile-nav {
  @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500;
}

/* HERO */
h1 {
  font-family: "Lobster", cursive;
  font-size: 50px;
  line-height: 1.5 !important;
}

/* ABOUT */
.pAbout {
  font-family: "Gruppo", sans-serif;
  font-size: 30px;
  line-height: 2.5;
}

.aboutMe {
  @apply text-4xl font-bold mb-5 border-b-[5px] w-[180px] border-indigo-600 pb-2;
  font-family: "Gruppo", sans-serif;

}

/* RESUME */
.resume{
  background-color: black;
  color:white;
  font-family: "Gruppo", sans-serif;
}